.artisan-details {
  padding: 20px; /* Espacement autour du contenu */
}

h2 {
  display: flex;
  justify-content: center;
  background-color: #0074c7 ;
  color: #f1f8fc;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 20px;
}